@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(sanchez-regular.woff) format('woff');
}

@font-face {
  font-family: 'Sanchez';
  font-style: italic;
  font-weight: 400;
  src: local('Sanchez Italic'), local('Sanchez-Italic'), url(sanchez-italic.woff) format('woff');
}

.fancy-bg {
  background-image: url(daimond_eyes.png);
}

body {
  font-family: 'Sanchez', serif;
  font-size: 14px;
}
a:link, a:visited, a:active, a:hover {
  color: #000;
}

.title-section {
  margin: 0 0 20px 0;
}
.main-title {
  display: inline;
  padding-right: 20px;
}
.sub-title {
  display: inline-block;
}
.fork-me {
  display: none;
}
@media (min-width: 1025px) {
  .fork-me {
    display: block;
  }
}

.clear {
  clear: both;
}

#explanation,
#explanation textarea {
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#explanation {
  margin-top: 30px;
}
.quiet {
  color: #999;
}

#viz_container {
  margin: 0 auto;
  text-align: left;
  padding: 0 10px;
}
@media (min-width: 1025px) {
  #viz_container {
    margin: 30px auto 30px auto;
    text-align: left;
    padding: 0 10px;
  }
}
#below-area {
}
#control-section {
  break-after: always;
  break-inside: avoid;
  -webkit-column-break-after: always;
  -webkit-column-break-inside: avoid;
}
@media (min-width: 600px) {
  .below-area-column-wrap {
    -moz-column-width: 280px;
    -webkit-column-width: 280px;
  }
}
#legend-section {
  break-always: always;
  -webkit-column-break-before: always;
}
.legend-row {
  break-inside: always;
  -webkit-column-break-inside: avoid;
}

#loading-message {
  visibility: hidden;
}
#loading-message.active {
  visibility: visible;
}

#viz_graph1 {
  text-align: center;
  height: 200px;
}
@media (min-height: 800px) and (min-width: 1025px) {
  #viz_graph1 {
    height: 500px;
  }
}

.viz-title {
  border: 0;
  padding: 10px 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Sanchez', serif;
  width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}

.bar {
  shape-rendering: crispEdges;
  cursor: crosshair;
}
.section {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.section-content {
  margin: 10px 0;
}
.selection-toggle,
.section-header-small {
  font-size: 11px;
}

.legend-box {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin: 4px 8px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}
.legend-label {
  vertical-align: middle;
  width: 150px;
  display: inline-block;
  word-wrap: break-word;
}
.legend-row {
  cursor: default;
}
.legend-row.highlighted {
  background-color: #e0e0f0;
}
.legend-row:hover {
  background-color: #e0e0e0;
}
.legend-value,
.legend-percentage {
  min-width: 40px;
  text-align: right;
  font-size: 12px;
  padding: 0 4px;
  display: inline-block;
}
.legend-value {
}
.inactive .legend-total {
  visibility: hidden;
}
.legend-total .legend-box,
.legend-cumulative-up .legend-box,
.legend-cumulative-down .legend-box,
.legend-cumulative-left .legend-box,
.legend-cumulative-right .legend-box,
.legend-cumulative-horizontal .legend-box,
.legend-cumulative-left-ratio .legend-box,
.legend-cumulative-right-ratio .legend-box,
.legend-max-ratio .legend-box,
.legend-complement-max-ratio .legend-box {
  visibility: hidden;
}
.disabled .legend-box,
.disabled .legend-label,
.disabled .legend-value,
.disabled .legend-percentage {
  opacity: 0.5;
}

.example-table-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.example-table td, .example-table th {
  text-align: left;
  vertical-align: top;
  padding: 0 10px;
}

.drop-info,
.drop-target {
  display: none;
}
.drag-active .drop-info,
.drag-active .drop-target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.drop-target {
  z-index: 100;
}
.drop-info {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px dotted rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 8px;
}
.drop-message-container {
  height: 100%;
  width: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  text-align: center;
}
.drop-message {
  display: inline;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  font-size: 40px;
}

